@use '@/UI/assets/css/mixins/breakpoints';

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 60px;

  &__inner {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }

  &:global(._xlg) {
    max-width: 1940px;
  }
  &:global(._lg) {
    max-width: 1680px;
  }
  &:global(._sm) {
    max-width: 1320px;
  }

  @include breakpoints.respond-max(xl) {
    padding: 0 50px;
    max-width: 1180px;
    &__inner {
      padding-left: 2.5em;
      padding-right: 2.5em;
    }
  }
  @include breakpoints.respond-max(lg) {
    padding: 0 40px;
    &__inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include breakpoints.respond-max(md-extra) {
    padding: 0 30px;
  }
  @include breakpoints.respond-max(sm) {
    padding: 0 24px;
  }
  @include breakpoints.respond-max(xsm) {
    padding: 0 16px;
  }
}
