.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.88em 1.2em;
  gap: 0.5em;

  background: var(--primary-900);
  border-radius: 0.88em;
  transition: 0.3s ease-out;

  //font
  color: var(--primary-50);
  font-family: var(--font-clash);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  text-transform: capitalize;
  letter-spacing: 0.02em;

  &:hover {
    background: var(--primary-800);
  }
  &:active {
    background: var(--primary-600);
    transition-duration: 0.1s;
  }

  &-lg {
    font-size: 20px;
    padding: 0.88em 1.5em;
  }
}
