.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.88em 1.2em;
  gap: 0.5em;

  border: 1px solid var(--n50);
  border-radius: 0.88em;
  transition: 0.3s ease-out;

  //font
  color: var(--primary-50);
  font-family: var(--font-clash);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  text-transform: capitalize;
  letter-spacing: 0.02em;

  &-lg {
    font-size: 20px;
    padding: 0.88em 1.5em;
  }

  &-default {
    border-color: transparent;
    background: var(--primary-900);

    &:hover {
      background: var(--primary-800);
    }
    &:active {
      background: var(--primary-600);
      transition-duration: 0.1s;
    }
  }
  &-outlined {
    color: var(--n500);
    background: transparent;
    font-weight: 500;
    border-radius: 1.12em;
    padding: 0.77em 1.2em;

    &:hover {
      color: var(--primary-800);
      border-color: var(--primary-100);
      background: rgba(#b4bac0, 0.05);
    }
    &:active {
      color: var(--primary-600);
      border-color: var(--primary-600);
      transition-duration: 0.1s;
      background: rgba(#b4bac0, 0.15);
    }
  }
}
