@use '@/UI/assets/css/mixins/breakpoints';

.about {
  padding: 120px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3.55rem;
  }
  &__header {
    h3 {
      line-height: 110%;
      font-weight: 500;
      letter-spacing: 0.02em;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.35rem;

    svg {
      width: 40%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 1.34rem;
      width: calc(60% - 3.55rem);
      p {
        font-style: normal;
        line-height: 160%;
        color: var(--n400);
        max-width: 520px;

        b {
          font-weight: 600;
        }
      }
    }
  }
}

@include breakpoints.respond-max(md-extra) {
  .about {
    &__inner {
      align-items: center;
      text-align: center;
    }
    &__header {
      max-width: 650px;
    }
  }
}
@include breakpoints.respond-max(md) {
  .about {
    &__inner {
      align-items: center;
      text-align: center;
    }
    &__header {
      display: contents;
      h3 {
        max-width: 500px;
      }
    }
    &__body {
      display: contents;
      flex-direction: column;

      svg {
        width: 60%;
        max-width: 350px;
        order: -1;
      }

      &__info {
        width: 100%;
        align-items: center;
      }
    }
  }
}
