.project-badge {
  background: var(--primary-50);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8px 12px;
  border-radius: 12px;

  &__text {
    font-weight: 600;
    line-height: 1.4;
    font-size: 0.77em; // 14px / 18px
    color: var(--primary-500);
    margin: 0;
  }
}
