@use './variables';
@use './nulifier';
@use './typo';
@use './mixins/breakpoints';

.seperator {
  &-ver {
    display: block;
    width: 0;
    align-self: stretch;
    border-right: 1px solid var(--n60);
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  z-index: -1;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}
.main {
  overflow: hidden;
}
/* layout-utils.scss or globals.scss */

.fbox {
  display: flex;

  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
  &-justify-center {
    justify-content: center;
  }
  &-justify-start {
    justify-content: flex-start;
  }
  &-justify-end {
    justify-content: flex-end;
  }

  &-column {
    flex-direction: column;
  }

  @for $i from 0 through 4 {
    &-gap-#{$i} {
      gap: #{$i * 0.5}rem;
    }
  }
}
.ratioImage {
  position: relative;
  width: 100%;
  padding-bottom: 56.2%;
  border-radius: inherit;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

@include breakpoints.respond-max(xxl) {
  body,
  html {
    font-size: 16px;
  }
}
