@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Variable.woff') format('woff'),
    url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-clash: 'Clash Display', 'Montserrat', 'Roboto', Arial, sans-serif;
}

.font {
  &-clash {
    font-family: var(--font-clash);
  }
  &-default {
    font-family: var(--font-montserrat);
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-clash);
  font-weight: 500;
  line-height: 120%;
  text-transform: capitalize;
}
.h1 {
  font-size: 82px;

  &._xxl {
    font-size: 96px;
  }
}
.h2 {
  font-size: 76px;
}
.h3 {
  font-size: 64px;
}
.h4 {
  font-size: 54px;
  &._sm {
    font-size: 44px;
  }
}
.h5 {
  font-size: 36px;
}
.h6 {
  font-size: 24px;
}
.subtitle {
  font-family: var(--font-clash);
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;

  &._sm {
    font-size: 20px;
  }
  &._lg {
    font-size: 24px;
  }
  &._xlg {
    font-size: 28px;
  }
}

p {
  color: var(--n800);
  line-height: 1.5;

  &._sm {
    font-size: 16px;
  }
  &._xxlg {
    font-size: 24px;
  }
  font-weight: 400;
  b {
    font-weight: 500;
  }
}
