:root {
  --black: #0d2133;
  --white: #fafbfb;
  --priamry: #004e98;
  --secondary: #3a6ea5;
  --red: #ee5622;
  --yellow: #eca72c;

  /* primary scale */
  --primary-50: #e6edf5;
  --primary-100: #b0c8df;
  --primary-200: #8aaed0;
  --primary-300: #5488ba;
  --primary-400: #3371ad;
  --primary-500: #004e98;
  --primary-600: #00478a;
  --primary-700: #00376c;
  --primary-800: #002b54;
  --primary-900: #002140;

  /* secondary scale */
  --secondary-50: #ebf1f6;
  --secondary-100: #c2d2e3;
  --secondary-200: #a4bcd6;
  --secondary-300: #7b9ec3;
  --secondary-400: #618bb7;
  --secondary-500: #3a6ea5;
  --secondary-600: #356496;
  --secondary-700: #294e75;
  --secondary-800: #203d5b;
  --secondary-900: #182e45;

  /* yellow scale */
  --yellow-50: #fdf6ea;
  --yellow-100: #f9e4be;
  --yellow-200: #f6d79e;
  --yellow-300: #f2c472;
  --yellow-400: #f0b956;
  --yellow-500: #eca72c;
  --yellow-600: #d79828;
  --yellow-700: #a8771f;
  --yellow-800: #825c18;
  --yellow-900: #634612;

  /* red scale */
  --red-50: #fdeee9;
  --red-100: #facbba;
  --red-200: #f7b199;
  --red-300: #f48e6b;
  --red-400: #f1784e;
  --red-500: #ee5622;
  --red-600: #d94e1f;
  --red-700: #a93d18;
  --red-800: #832f13;
  --red-900: #64240e;
  
  /* neutral tokens */
  --n0: #ffffff;
  --n10: #fafbfb;
  --n20: #f5f6f7;
  --n30: #ecedef;
  --n40: #e0e2e4;
  --n50: #c3c8cc;
  --n60: #b4bac0;
  --n70: #a8afb6;
  --n80: #99a2a9;
  --n90: #8b949d;
  --n100: #7c8791;
  --n200: #6e7a85;
  --n300: #5f6c78;
  --n400: #53616e;
  --n500: #455462;
  --n600: #394958;
  --n700: #283949;
  --n800: #192c3d;
  --n900: #0d2133;
}
